*{
    margin: 0;
    padding: 0;

}
.hide {
    display: none;
}

.carGame{
    background-image: url("./image/HD-wallpaper-republic-of-gamers-3d-republic-of-gamers-asus-computer-games-3d.jpg");
   height: 100vh;
   width:100%;

    background-repeat: no-repeat;
    background-size: cover;

}

.car, .enemy{
    width:60px;
    height:110px;
    position: absolute;
   
    bottom:120px;
    background-image: url("./image/images\ \(1\)~3.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.enemy{
    background-image: url("./image/images~2.jpeg") ;
}


.lines {
    width: 10px;
    height: 100px;
    background-color: white;
    position: absolute;
    margin-left: 195px;
}
.gameArea{
    width : 400px;
    height: 100vh;
    background-color: black;
    margin:auto;
    position:relative;
    overflow: hidden;
    border-right: 7px dashed #c8d6e5;
    border-left: 7px dashed #c8d6e5;
}
.score{
    position: absolute;
    top:15px;
    left:40px;
    background-color: #10ac84;
    width: 300px;
    
    line-height: 70px;
    text-align: center;
    color: white;
    font-family: fantasy;
    font-size: 1.5em;
    box-shadow: 0 5px 5px #777;


}
.startScreen {
    position: absolute;
    background-color: #ee5253;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    border: 1px solid #ff6b6b;
    padding: 15px;
    margin: auto;
    cursor: pointer;
    letter-spacing: 5;
    font-size: 20px;
    word-spacing: 3;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow: 0 5px 5px #777;
    
}